.loader-container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.loader { 
  /* border: 10px solid #f3f3f3;
  border-top: 10px solid #37b542;
  border-radius: 50%; */
  width: 20px;
  height: 20px;
  animation: animate 2s linear infinite; 
  background: #262626;
  position: absolute;
 }

/* @keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

/* .loader{
  position: absolute;
  width: 20px;
  height: 20px;
  background: #262626;
  animation: animate 4s infinite ease-in-out;
} */

.loader:nth-child(1){
  background: #00485f;
  left: -24px;
  top: -24px;
  animation-delay: .2s;
}
.loader:nth-child(2){
  background: #00deea;
  left: 0;
  top: -24px;
  animation-delay: .4s;
}
.loader:nth-child(3){
  background: #00deea;
  left: -24px;
  top: 0;
  animation-delay: .8s;
}
.loader:nth-child(4){
  background: #00485f;
  left: 0;
  top: 0;
  animation-delay: .6s;
}

@keyframes animate{
  0%{
    transform: rotateY(0deg);
  }
  20%{
    transform: rotateY(360deg);
  }
  40%{
    transform: rotateX(180deg);
  }
  60%{
    transform: rotateX(0deg);
  }
  80%{
    transform: rotateX(360deg);
  }
  100%{
    transform: rotateY(180deg);
  }

}
